<h1><%= Recipe.count %> Recipes</h1>

<% @recipes.each do |recipe| %>
  <div>
    <p><b><%= link_to recipe.name, recipe %></b></p>
    <p>Brewers: <%= recipe.brewers.map(&:name).join(", ") %></p>
    <p><%= truncate recipe.description, 100 %></p>
  </div>
<% end %>

<br />

<%= link_to 'New recipe', new_recipe_path %>