<h1>Editing brewer</h1>

<% form_for(@brewer) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @brewer %> |
<%= link_to 'Back', brewers_path %>