<h1>Listing brewers</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @brewers.each do |brewer| %>
  <tr>
    <td><%=h brewer.name %></td>
    <td><%= link_to 'Show', brewer %></td>
    <td><%= link_to 'Edit', edit_brewer_path(brewer) %></td>
    <td><%= link_to 'Destroy', brewer, :confirm => 'Finish Him?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New brewer', new_brewer_path %>