<h1>New pitching_yeast</h1>

<% form_for(@pitching_yeast) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :yeast_type %><br />
	<%= f.collection_select(:yeast_type, YeastType.all, :id, :name) %> <br />
  </p>
  <p>
    <%= f.label :parent_batch %><br />
    <%= f.text_field :parent_batch %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', pitching_yeasts_path %>